<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .item-text:hover {
            background-color: #2693ff;
        }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>